@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body {
  /* Tailwind'in varsayılan fontunu geçersiz kılar */
  font-family: 'Montserrat', sans-serif !important; 
}
.rotating-circle-text {
  animation: spin 10s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

